<form action="/cars" method='post'>
    <label for="name">Name</label>
      <input type="text" name="cars[name]">
    <label for="name">Model</label>
      <input type="text" name="cars[model]">
    <label for="price">Price</label>
      <input type="text" name="cars[price]">
    <label for="rating">Rating</label>
      <input type="number" name="cars[rating]">
      <input type="submit">
</form>
